body {
	background-image: url("../images/thanksgiving-turkey-background.png");
}

.title {
	font-family: 'Miltonian', cursive;
	font-size: 60px;
}

#display {
	font-size: 30px;
}

#start {
	background-color: #af2222;	
	color: yellow;
	font-family: 'Miltonian', cursive; 
	padding-bottom: 20px;
	border: 2px dotted black;
}

#done {
	background-color: #af2222;	
	color: yellow;
	font-family: 'Miltonian', cursive; 
	padding-bottom: 20px;
	border: 2px dotted black;
}

.questions {
	font-weight: bold;
	font-family: 'Miltonian', cursive;
}

.radio {
	font-size: 16px;
	font-weight: bold;
}

.results {
	font-weight: bold;
	font-family: 'Miltonian', cursive;
}

#page1 {
	border: 5px solid black;
	background-color: #E8B84E;
	width: 900px;
	margin-top: 300px;
	padding-right: 100px;
	padding-left: 100px;

}

#page2 {
	display: none;
	background-color: #e6e997;
	width: 900px;
	margin-top: 0px;
	padding-right: 100px;
	padding-left: 100px;
	border: 5px solid black;
}

#page3 {
	background-color: #e6e997;
	width: 900px;
	margin-top: 0px;
	padding-right: 100px;
	padding-left: 100px;
	border: 5px solid black;

}

#eatHam {
	border: 5px solid black;
	margin-left: 30px;
}

.gameOver {
	font-family: 'Miltonian', cursive;
}